<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">




    <servlet>
        <servlet-name>fileReaderImpl</servlet-name>
        <servlet-class>
            com.sqlLogParser.server.rpc.fileReader.FileReaderImpl
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>fileReaderImpl</servlet-name>
        <url-pattern>/SqlLogParser/FileReaderService</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>myServiceImpl</servlet-name>
        <servlet-class>
            com.sqlLogParser.server.rpc.MyServiceImpl
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>myServiceImpl</servlet-name>
        <url-pattern>/SqlLogParser/MyService</url-pattern>
    </servlet-mapping>

</web-app>